/* Common Styles */

body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}

body > div {
    padding-left: 24px;
    padding-right: 24px;
}

.sectionWrapper {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

/* Header Styles */
.header {
    background-color: #1F2937;
}

.header .sectionWrapper {
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style-type: none;
}

.header li {
    display: inline;
    margin-left: 10px;
}

.header .Logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Styles */
.hero {
    background-color: #1F2937;
    padding-top: 96px;
    padding-bottom: 96px;
}

.hero .sectionWrapper {
    justify-content: center;
    align-items: stretch;
    gap: 36px;
}

.hero .contentBox {
    flex: 1;
}

.hero img {
    flex: 1;
    object-fit: cover;
}

.heroMain {  /* For section differentiation while working - not permanent, to be deleted */
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.heroSecondary {
    color: #E5E7EB;
    font-size: 18px;
}

.hero button {
    box-sizing: border-box;
    margin-top: 12px;
    border: 0px solid;
}

/* Info Styles */
.info {
    background-color: #F9FAF8;
    padding-top: 48px;
    padding-bottom: 144px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info .sectionWrapper {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    text-align: center;
}

.imageList {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.imageCaption {
    max-width: 170px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.imageCaption img {
    border: 5px solid #3882F6;
    border-radius: 16px;
    object-fit: cover;
    box-sizing: border-box;
    max-width: inherit;
    margin-bottom: 5px;
}

/* Testimonial Styles */
.testimonial {
    background-color: #E5E7EB;
}

.testimonial {  /* For section differentiation while working - not permanent, to be deleted */
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

/* Action Call Styles */
.actionCall {
}

.actionCall {  /* For section differentiation while working - not permanent, to be deleted */
    background-color: #F9FAF8;
}

/* Footer Styles */
.footer {
}

.footer {  /* For section differentiation while working - not permanent, to be deleted */
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}